/*变量*/
$head_height: 44px;
$head_border-color: #bbb;

/*项目变量*/
$border-color: $head_border-color;
$blue: #4892e6;
$red: #dc313e;
$gray: #f2f2f2;
$height: 32px;

/*外部引入*/
@import 'scss/ui', 'scss/iconmoon';

/*复写*/
.panel
{
    &[data-role=root]
    {
        padding-bottom: 0;
    }
}


.btnright
{
    color: $blue;
}


/*general*/
input
{
    height: $height;
    padding: 0 0.5em;
    background: transparent;
    border-radius: 0;
    border: none;
}


.btn_blue
{
    display: inline-block;
    line-height: $height;
    padding: 0 12px;
    background: $blue;
    color: #fff;
    border-radius: 2px;
    margin-left: 4px;

    &.focus
    {
        color: #fff;
        background: $red;
    }
}


.border
{
    @include mx_ptborder($color: $border-color);
}


.bgborder
{
    background: #fff;
    @extend .border;
}


.txtbox
{
    @extend .border;

    input
    {
        width: 100%;
    }
}


/*1px左边框*/
.ptborder_left
{
    &:before
    {
        content: '';
        @extend %ph_palt;
        width: 1px;
        height: 100%;
        background: $border-color;
        @include mx_transform(scale3d(0.5, 1, 1));
        z-index: 0;
    }
}


/*1px右边框*/
.ptborder_right
{
    &:after
    {
        content: '';
        @extend %ph_part;
        width: 1px;
        height: 100%;
        background: $border-color;
        @include mx_transform(scale3d(0.5, 1, 1));
        z-index: 0;
    }
}


/*1px上边框*/
.ptborder_top
{
    &:before
    {
        content: '';
        @extend %ph_palt;
        width: 100%;
        height: 1px;
        background: $border-color;
        @include mx_transform(scale3d(1, 0.5, 1));
        z-index: 0;
    }
}


/*1px下边框*/
.ptborder_bottom
{
    &:after
    {
        content: '';
        @extend %ph_palb;
        width: 100%;
        height: 1px;
        background: $border-color;
        @include mx_transform(scale3d(1, 0.5, 1));
        z-index: 0;
    }
}


/*头部*/
#header
{
    .btn_login, .btn_cs
    {
        display: inline-block;
        margin: 6px 8px 0 0;
        padding: 0 12px;
        line-height: $height;
        @include mx_ptborder($color: $border-color, $radius: 4px);
        @include mx_box-shadow(none);
        border-radius: 2px;
        overflow: hidden;

        &.focus
        {
            color: #fff;
            background: $red;
        }
    }

    .roottitle
    {
        background: url(../images/logo.png) 8px center/ auto 26px no-repeat;
    }
}


/*首页*/
#panel1
{
    background: #f1f1f1;

    .panel1box
    {
        width: 100%;
        max-width: 640px;
        margin: 0 auto;
    }

    .banner
    {
        img
        {
            width: 100%;
        }
    }

    .notice
    {
        background: #fffce6;
        line-height: $height;

        i
        {
            color: #f00;
        }
    }

    .search
    {
        padding: 8px;
        background: #fff;
        @include mx_ptborder($color: $border-color, $trbl: bottom);

        .txtbox
        {
            display: inline-block;
            width: 80%;
        }
    }

    $p: 10px;
    .content
    {
        padding: $p;

        & > *
        {
            margin: 0 auto $p auto;

            &:last-child
            {
                margin-bottom: 0;
            }
        }
    }

    .link_list
    {
        padding: 12px 0;
        font-size: 12px;

        a
        {
            display: inline-block;
            width: 23%;

            &.focus
            {
                opacity: 0.7;
            }

            img
            {
                width: 80%;
            }
        }
    }

    .picker
    {
        font-size: 0;
        margin-bottom: 0;

        a
        {
            width: 9.5%;
            display: inline-block;
            min-width: 28.75px;
            line-height: 24px;
            margin: 0 0 $p $p;
            background: #a2bccd;
            border-radius: 2px;
            font-size: $font-size;
            vertical-align: top;
            color: #fff;

            &.i0
            {
                margin-left: 0;
            }

            &.selected
            {
                background: $red;
            }

            &.focus
            {
                background: $blue;
                color: #fff;
            }
        }
    }

    .applist
    {
        font-size: 0;
        padding: 1px;
        @extend .ptborder_bottom;

        &:after
        {
            top: 50%;
            z-index: 1;
        }

        $p: 8px;
        a
        {
            display: inline-block;
            vertical-align: top;
            width: 25%;
            padding: $p;
            font-size: $font-size;

            &.focus
            {
                background: $gray;
            }

            img
            {
                width: 100%;
            }
        }

        .view_more
        {

            &.focus, &.selected
            {
                background: none;
                opacity: 0.7;
            }

            img
            {
                border-radius: 10%;
                border: 2px dotted $blue;
            }

            i
            {
                @extend %ph_palt;
                @extend %ph_full;
                @extend %ph_center;
                color: $blue;
            }
        }
    }

    .list
    {
        padding: 1px;
        @extend .bgborder;

        & > *
        {
            line-height: 30px;
            padding: 7px;
            position: relative;

            &:not(:first-child)
            {
                @extend .ptborder_top;
            }
        }

        & > a
        {
            display: block;

            &.focus
            {
                background: $gray;
            }
        }
    }

    .goods_list
    {

        h3
        {
            i
            {
                font-size: 12px;
                font-weight: normal;
            }
        }

        a
        {
            span
            {
                float: right;
                color: $red;
            }
        }
    }

    .qq_verify
    {
        .txtbox
        {
            display: inline-block;
            width: 79%;
        }
    }

    .game_down
    {

        .center
        {
            font-size: 0;
            line-height: $line-height;
            padding: 8px 0 0 0;
        }

        a
        {
            font-size: $font-size;
            display: inline-block;
            width: 25%;

            &.focus
            {
                opacity: 0.7;
            }

            img
            {
                width: 85%;
            }
        }
    }

    .partner
    {

        .center
        {
            font-size: 0;
        }

        a
        {
            font-size: $font-size;
            display: inline-block;
            width: 33.3%;

            &.focus
            {
                opacity: 0.7;
            }

            img
            {
                width: 95%;
            }
        }
    }

    .footer
    {
        .nav
        {
            line-height: 40px;
            font-size: 0;

            a
            {
                display: inline-block;
                vertical-align: top;
                width: 24%;
                font-size: 16px;

                &:not(:first-child)
                {
                    @extend .ptborder_left;

                    &:before
                    {
                        $h: 18px;

                        height: $h;
                        top: 50%;
                        margin-top: -$h / 2;
                    }
                }
            }
        }

        .copyright
        {
            padding: 5px 0;
            color: #888;

            nav
            {
                a
                {
                    display: inline-block;
                    width: 80px;
                    position: relative;

                    &:not(:last-child)
                    {
                        @extend .ptborder_right;

                        &:after
                        {
                            $h: 14px;

                            height: $h;
                            top: 50%;
                            margin-top: -$h / 2;
                            background: $color;
                        }
                    }
                }
            }
        }
    }

}


/*sidebox*/
#sidebox
{
    $c: #fff;

    background: #377ccb;

    &, a
    {
        color: $c;
    }

    a.focus
    {
        background-color: $blue !important;
    }

    .title
    {
        line-height: $head_height;
    }

    .csbox
    {
        padding-top: 10px;
        font-size: 0;

        a
        {
            display: inline-block;
            vertical-align: top;
            width: 42%;
            margin: 6px;
            height: 95px;
            padding-top: 60px;
            font-size: $font-size;
            background: rgba(240, 240, 255, 0.1) center 40%/35px auto no-repeat;
            position: relative;

            &.msg
            {
                &:before
                {
                    $w: 8px;
                    content: '';
                    @include mx_plt($left: 50%, $top: 20%);
                    @extend %ph_content-box;
                    margin-left: 15px;
                    width: $w;
                    height: $w;
                    border-radius: $w;
                    background: $red;
                    border: 2px solid $c;
                }
            }
        }

        .i1
        {
            background-image: url(../images/cs1.png);
        }

        .i2
        {
            background-image: url(../images/cs2.png);
        }

        .i3
        {
            background-image: url(../images/cs3.png);
        }

        .i4
        {
            background-image: url(../images/cs4.png);
        }
    }

    .qq_verify
    {
        padding: 20px 12px 10px 12px;

        h3
        {
            text-align: left;
            padding-bottom: 5px;

            &:before
            {
                content: '';
                display: inline-block;
                width: 15px;
                height: 17px;
                background: url(../images/qq.png) center center/cover;
                vertical-align: sub;
                margin-right: 3px;
            }
        }

        .txtbox
        {

            &:before
            {
                border-color: $c;
            }

            a
            {
                @extend %ph_part;
                height: 100%;
                line-height: $height;
                padding: 0 8px;
                border: 1px solid transparent;
                background: rgba(240, 240, 240, 0.1);

                @extend .ptborder_left;
                &:before
                {
                    background: $c;
                }
            }
        }
    }

}


/*交易猫在线客服*/
#panelservice
{
    $h: 50px;
    $p: ($h - $height) / 2;
    padding-top: 0;
    overflow: hidden;
    background: #f6f6f6;

    #msgbox
    {
        height: 100%;
        padding-top: $head_height;
        padding-bottom: $h;
    }

    .inputbox
    {
        @extend %ph_palb;
        width: 100%;
        height: $h;
        padding: $p 70px 0 38px;
        background: $head_bgcolor;
        @extend .ptborder_top;

        .btn_add
        {
            $w: 20px;
            @include mx_plt($left: $p, $top: 50%);
            width: $w;
            height: $w;
            margin-top: -$w / 2;
            line-height: 18px;
            font-size: $w;
            border-radius: $w;
            text-align: center;
            border: 1px solid $color;
        }

        .btn_send
        {
            @include mx_prt($top: 50%, $right: $p);
            margin-top: -$height / 2;
        }
    }
}


/*消息列表*/
#msg_list
{
    $h: 36px;
    $sd: 0 1px 2px rgba(0, 0, 0, 0.2);

    padding: 0 5px;

    .msg_item
    {
        padding: 0 25px 0 55px;
        position: relative;
        margin-bottom: 10px;
    }

    .timestamp
    {
        text-align: center;
        color: #888;
        line-height: $h;
    }

    .msg
    {
        $p: 8px;

        width: 100%;
        min-height: $h;
        position: relative;
        padding: $p;
        @include mx_box-shadow($sd);
        border-radius: 4px;

        &:before
        {
            content: '◆';
            position: absolute;
            top: 6px;
            width: 0.5em;
            overflow: hidden;
            font-size: 10px;
            text-shadow: $sd;
        }

        /*自动回复样式*/
        &.automsg
        {
            h3
            {
                line-height: 1.1em;
            }

            a
            {
                display: block;
                text-align: center;
                background: $blue;
                color: #fff;
                line-height: $h;
                margin-top: $p;
                border-radius: 2px;

                &.focus
                {
                    background: $red;
                }
            }
        }
    }

    /*图片类信息*/
    .image
    {
        &:after
        {
            content: 'loading...';
            display: block;
            text-indent: 10px;
            color: #7ea5cd;
            line-height: 30px;
        }

        &.ok:after
        {
            display: none;
        }

        &.error:after
        {
            content: '图片接收失败';
        }

        .msg
        {
            display: inline-block;
            width: auto;
            padding: 2px;

            img
            {
                max-width: 120px;
                max-height: 80px;
                border-radius: 4px;
            }
        }
    }

    /*客服信息*/
    .service
    {
        &:before
        {
            content: '';
            @include mx_plt($left: 5px, $top: $h);
            width: $h;
            height: $h;
            @include mx_box-shadow($sd);
            border-radius: 4px;
            background: url(../images/avator.jpg) center center/cover;
        }

        .msg
        {
            $bg: #fff;
            background: $bg;

            &:before
            {
                left: -0.5em;
                color: $bg;
            }
        }
    }

    /*顾客信息*/
    .client
    {

        &.image
        {
            text-align: right;

            .msg
            {
                text-align: left;
            }
        }

        .msg
        {
            $bg: $blue;
            background: $bg;
            color: #fff;

            &:before
            {
                text-indent: -0.5em;
                right: -0.5em;
                color: $bg;
            }
        }
    }
}