/*变量*/
$head_height: 44px;
$head_border-color: #ccc;

/*项目变量*/
$border-color: $head_border-color;

/*外部引入*/
@import 'scss/ui', 'scss/iconmoon';

/*general*/
input
{
    height: 32px;
    padding: 0 0.5em;
    background: transparent;
    border-radius: 0;
    border: none;
}


.btn_blue
{
    display: inline-block;
    line-height: 32px;
    padding: 0 12px;
    background: #4892e6;
    color: #fff;
    border-radius: 2px;
    margin-left: 4px;

    &.focus
    {
        color: #fff;
        background: #dc313e;
    }
}


/*头部*/
#header
{
    .btn_login
    {
        display: inline-block;
        margin: 6px 8px 0 0;
        padding: 0 12px;
        line-height: 32px;
        @include mx_ptborder($color: $border-color, $radius: 4px);
        @include mx_box-shadow(none);
        border-radius: 2px;
        overflow: hidden;

        &.focus
        {
            color: #fff;
            background: #dc313e;
        }
    }

    .roottitle
    {
        background: url(../images/logo.png) 8px center/ auto 26px no-repeat;
    }
}


/*首页*/
#panel1
{
    background: #f1f1f1;

    .banner
    {
        img
        {
            width: 100%;
            min-width: 320px;
            max-width: 640px;
        }
    }

    .notice
    {
        background: #fffce6;
        line-height: 32px;

        i
        {
            color: #f00;
        }
    }

    .search
    {
        padding: 8px;
        background: #fff;
        @include mx_ptborder($color: $border-color, $trbl: bottom);

        .txtbox
        {
            display: inline-block;
            width: 80%;
            @include mx_ptborder($color: $border-color);

            input
            {
                width: 100%;
            }
        }
    }
}