@charset "UTF-8";
/*变量*/
/*项目变量*/
/*外部引入*/
/*外部引入*/
/*默认变量*/
/*字体*/
/*布局*/
/*默认为1:纯色背景,2:渐变背景*/
/*导航条背景*/
/*边框颜色*/
/*页面背景*/
/*混入*/
/*定位*/
/*transition*/
/*transform*/
/*transform-origin*/
/*animation*/
/*渐变背景*/
/*backface-visibility*/
/*perspective*/
/*盒子阴影*/
/*user-select*/
/*box-sizing*/
/*行高与高度相同*/
/*1px边框*/
/*滤镜*/
/*占位符*/
/*滚动*/
.ofauto, .panel {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

/*定位*/
.absolute, .head, .head
.btnleft, #header > div, .panel, #navbar:after, .btn:before, #panel1
.search:before {
  position: absolute;
  left: 0;
  top: 0; }

.fixed {
  position: fixed;
  left: 0;
  top: 0; }

.head
.btnright {
  position: absolute;
  right: 0;
  top: 0; }

#sidebox {
  position: fixed;
  right: 0;
  top: 0; }

.head:after, #navbar {
  position: absolute;
  left: 0;
  bottom: 0; }

/*宽度高度100%*/
#mainbox, #loading, #header > div, .panel, #mask {
  width: 100%;
  height: 100%; }

/*表格单元格*/
#loading > div, #navbar
.navlist
a, #mask > div {
  display: table-cell;
  vertical-align: middle;
  line-height: initial; }

/*高度自动撑高*/
/*all动画*/
.fade-out, .fade-in, .transition, #loading, #header > div, .panel {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

/*transform动画*/
.transform {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease; }

/*visible*/
/*hidden*/
/*border-box*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*content-box*/
/*1px边框*/
/*垂直居中*/
/*元素*/
*:focus {
  outline: none; }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  /*将元素的padding,border也纳入宽度,相当于IE5的盒子模型*/ }

body {
  background-color: #fff;
  /*加背景色可减缓页面闪烁*/
  /*可继承*/
  color: #333;
  line-height: 1.5em;
  font-size: 14px;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  user-select: none;
  /*禁止选中文本*/
  -webkit-tap-highlight-color: transparent;
  /*部分浏览器点选时会有淡蓝色框,这样可以去掉*/
  -webkit-touch-callout: none;
  /*禁止保存图片*/ }

input, textarea {
  -webkit-user-select: text;
  user-select: text;
  color: #333; }

img, input {
  vertical-align: middle; }

img {
  border: none; }

a {
  outline: none;
  color: #333;
  text-decoration: none;
  cursor: pointer; }

a.focus {
  color: #df2221; }

li {
  list-style: none; }

i {
  font-style: normal; }

/*h类标签*/
h1 {
  font-size: 1.45em; }

h2 {
  font-size: 1.3em; }

h3 {
  font-size: 1.15em; }

h4 {
  font-size: 1em; }

/*类*/
/*btn*/
.btn {
  display: inline-block;
  line-height: 2em;
  min-width: 5.5em;
  padding: 0 1.25em;
  border-radius: 0.5em;
  font-size: 1.15em;
  text-align: center;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
  background-color: #f8f8f8; }
  .btn.focus {
    background-color: #eee; }

/*隐藏*/
.hidden {
  display: none !important; }

/*显示*/
.show {
  display: block !important; }

/*渐隐*/
.fade-out {
  visibility: hidden !important;
  opacity: 0 !important; }

/*渐显*/
.fade-in {
  visibility: visible !important;
  opacity: 1 !important; }

/*float*/
.fl {
  float: left; }

.fr {
  float: right; }

/*居中*/
.center {
  text-align: center; }

/*定位*/
/*动画*/
.notrans {
  -webkit-transition: none !important;
  transition: none !important; }

/*滚动*/
/*重排类*/
.reflow {
  padding-bottom: 1px; }

/*外部引入*/
@-webkit-keyframes ani_circle
{
  0%
{
    -webkit-transform: rotate(0deg); }
  100%
{
    -webkit-transform: rotate(360deg); } }

@keyframes ani_circle
{
  0%
{
    transform: rotate(0deg); }
  100%
{
    transform: rotate(360deg); } }

/*spinner动画*/
.spinner {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  -webkit-animation: ani_circle 1s ease infinite;
  animation: ani_circle 1s ease infinite; }
  .spinner
b {
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: #333;
    width: 10px;
    height: 10px;
    border-radius: 10px; }
    .spinner
b:nth-of-type(1) {
      -webkit-transform: rotate(45deg) translate(0, -20px);
      transform: rotate(45deg) translate(0, -20px);
      opacity: 0.125; }
    .spinner
b:nth-of-type(2) {
      -webkit-transform: rotate(90deg) translate(0, -20px);
      transform: rotate(90deg) translate(0, -20px);
      opacity: 0.25; }
    .spinner
b:nth-of-type(3) {
      -webkit-transform: rotate(135deg) translate(0, -20px);
      transform: rotate(135deg) translate(0, -20px);
      opacity: 0.375; }
    .spinner
b:nth-of-type(4) {
      -webkit-transform: rotate(180deg) translate(0, -20px);
      transform: rotate(180deg) translate(0, -20px);
      opacity: 0.5; }
    .spinner
b:nth-of-type(5) {
      -webkit-transform: rotate(225deg) translate(0, -20px);
      transform: rotate(225deg) translate(0, -20px);
      opacity: 0.625; }
    .spinner
b:nth-of-type(6) {
      -webkit-transform: rotate(270deg) translate(0, -20px);
      transform: rotate(270deg) translate(0, -20px);
      opacity: 0.75; }
    .spinner
b:nth-of-type(7) {
      -webkit-transform: rotate(315deg) translate(0, -20px);
      transform: rotate(315deg) translate(0, -20px);
      opacity: 0.875; }
    .spinner
b:nth-of-type(8) {
      -webkit-transform: rotate(360deg) translate(0, -20px);
      transform: rotate(360deg) translate(0, -20px);
      opacity: 1; }

/*head导航条背景*/
.head, #navbar {
  background-color: rgba(255, 255, 255, 0.9); }

/*head类*/
.head {
  width: 100%;
  z-index: 1;
  /*模拟1px边框*/
  /*返回按钮类*/ }
  .head:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #ddd;
    -webkit-transform: scale3d(1, 0.5, 1);
    transform: scale3d(1, 0.5, 1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
  .head .btnleft, .head
.btnright {
    z-index: 2;
    padding: 0 8px;
    height: 100%; }
  .head
.btnright:before {
    font-size: 24px;
    vertical-align: sub; }
  .head
.btnback {
    font-size: 16px;
    padding-left: 4px; }
    .head
.btnback:before {
      font-size: 20px;
      vertical-align: sub; }
  .head
.title {
    text-align: center; }

/*mainbox*/
#mainbox {
  overflow: hidden; }
  .onsidebox #mainbox {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0); }

/*边栏*/
#sidebox {
  height: 100%;
  width: 80%;
  background-color: #fff;
  z-index: 9;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }
  #sidebox
.head {
    line-height: 44px; }
  #sidebox
.content {
    height: 100%;
    padding-top: 44px; }
  .onsidebox #sidebox {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

/*loading*/
#loading {
  display: table;
  background-color: #fff;
  z-index: 5;
  cursor: pointer;
  /*防止点击事件绑定不到(ios8)*/ }
  #loading > div {
    text-align: center; }
  .loaded #loading {
    visibility: hidden;
    background-color: transparent; }
    .loaded #loading > div {
      visibility: hidden; }
  .onsidebox #loading {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.7); }

/*头部*/
#header {
  height: 44px;
  line-height: 44px; }
  .offheader #header {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }

/*一级页面标题*/
.onsubtitle .roottitle {
  opacity: 0;
  visibility: hidden; }

/*二级页面标题*/
.subtitle {
  opacity: 0;
  visibility: hidden; }
  .subtitle
.btnleft {
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0); }
  .onsubtitle .subtitle {
    opacity: 1;
    visibility: visible; }
    .onsubtitle .subtitle
.btnleft {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }

/*面板*/
.panel {
  padding-top: 44px;
  /*二级面板会出现横向滚动条的bug,可以通过对二级面板的重排来解决,比如显示面板时,padding-bottom的值的改变*/
  display: none;
  background-color: #fff;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-box-shadow: -2px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: -2px 0 0 rgba(0, 0, 0, 0.2); }
  .panel[data-role=root] {
    padding-bottom: 50px; }
  .panel.subopened {
    -webkit-transform: translate3d(-40%, 0, 0);
    transform: translate3d(-40%, 0, 0); }
  .panel.opened {
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0); }
  .offheader .panel {
    padding-top: 0; }

/*打开iframe页面的面板*/
#paneliframe {
  height: 100%; }
  #paneliframe
iframe {
    width: 100%;
    height: 100%;
    border: none; }

/*导航*/
#navbar {
  width: 100%;
  height: 50px;
  z-index: 1;
  text-align: center;
  /*模拟1px边框*/ }
  #navbar:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #ddd;
    -webkit-transform: scale3d(1, 0.5, 1);
    transform: scale3d(1, 0.5, 1);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0; }
  .offnavbar > #navbar {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  #navbar
.navbox {
    overflow: hidden;
    height: 100%;
    max-width: 100%;
    display: inline-block; }
  #navbar
.navlist {
    display: table;
    height: 100%;
    white-space: nowrap;
    line-height: 1.1em; }
    #navbar
.navlist
a {
      padding: 0 5px; }

/*mask*/
#mask {
  display: table;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0; }
  #mask.visible {
    visibility: visible;
    opacity: 1; }
  #mask > div {
    text-align: center; }

/*二维码*/
#qrcode {
  position: fixed;
  right: 10px;
  top: 54px;
  width: 200px;
  height: 200px; }

/*iconmoon*/
@font-face {
  font-family: iconmoon;
  src: url("data:application/x-font-woff;charset=utf-8;base64,\a     AAEAAAALAIAAAwAwT1MvMg8SAysAAAC8AAAAYGNtYXAaVcxYAAABHAAAAExnYXNwAAAAEAAAAWgA\a AAAIZ2x5ZvwFkJgAAAFwAAABNGhlYWQFBe7SAAACpAAAADZoaGVhB20DxwAAAtwAAAAkaG10eAoA\a AVoAAAMAAAAAGGxvY2EAwgBaAAADGAAAAA5tYXhwAAoAOwAAAygAAAAgbmFtZVcZpu4AAANIAAAB\a RXBvc3QAAwAAAAAEkAAAACAAAwQAAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAA\a AAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADmAQPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAA\a AAACAAAAAwAAABQAAwABAAAAFAAEADgAAAAKAAgAAgACAAEAIOYB//3//wAAAAAAIOYA//3//wAB\a /+MaBAADAAEAAAAAAAAAAAAAAAEAAf//AA8AAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAA\a AgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQEFAB8CxwN7ABMAACUWFAcOAScBJjQ3ATYy\a FxYUBwkBAscLCwodCv5vCwsBkQodCgsL/pMBbVEKHgoKAQsBlQodCwGVCgoLHQr+hP6EAAADAFUA\a gAOrAtUAEgAlADgAABMhMhcWFRQHBiMhIicmNTQ3NjMRITIXFhUUBwYjISInJjU0NzYzESEyFxYV\a FAcGIyEiJyY1NDc2M4ADABIMDQ0MEv0AEgwNDQwSAwASDA0NDBL9ABIMDQ0MEgMAEgwNDQwS/QAS\a DA0NDBIC1QwNERINDAwNEhENDP4ADA0REg0MDA0SEQ0MAQAMDRESDQwMDRIRDQwAAAABAAAAAAAA\a FqQjNF8PPPUACwQAAAAAANEe1S0AAAAA0R7VLQAAAAADqwN7AAAACAACAAAAAAAAAAEAAAPA/8AA\a AAQAAAAAAAOrAAEAAAAAAAAAAAAAAAAAAAAGAAAAAAAAAAAAAAAAAgAAAAQAAQUEAABVAAAAAAAK\a ABQAHgBGAJoAAAABAAAABgA5AAMAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEA\a DgAAAAEAAAAAAAIADgBHAAEAAAAAAAMADgAkAAEAAAAAAAQADgBVAAEAAAAAAAUAFgAOAAEAAAAA\a AAYABwAyAAEAAAAAAAoANABjAAMAAQQJAAEADgAAAAMAAQQJAAIADgBHAAMAAQQJAAMADgAkAAMA\a AQQJAAQADgBVAAMAAQQJAAUAFgAOAAMAAQQJAAYADgA5AAMAAQQJAAoANABjAGkAYwBvAG0AbwBv\a AG4AVgBlAHIAcwBpAG8AbgAgADEALgAwAGkAYwBvAG0AbwBvAG5pY29tb29uAGkAYwBvAG0AbwBv\a AG4AUgBlAGcAdQBsAGEAcgBpAGMAbwBtAG8AbwBuAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUA\a ZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\a AAAA") format("truetype");
  font-weight: normal;
  font-style: normal; }

[class^='icon-']:before, [class*=' icon-']:before, [class^='icon-']:after, [class*=' icon-']:after {
  font-family: iconmoon;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased; }

.icon-left:before {
  content: '\e600'; }

.icon-menu:before {
  content: '\e601'; }

/*复写*/
.btn {
  border-radius: 0;
  min-width: 0;
  padding: 0 8px;
  line-height: 32px;
  background: #fff;
  position: relative;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .btn:before {
    content: '';
    width: 200%;
    height: 200%;
    border: 1px solid #ddd;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    z-index: 0;
    border-radius: 4px; }
  .btn > * {
    position: relative;
    z-index: 1; }
  .btn.focus {
    background: #fafafa; }

input {
  height: 32px;
  border: 1px solid #ddd;
  padding: 0 0.5em;
  border-radius: 0;
  border: none; }

/*头部*/
#header
.btn_login {
  margin: 6px 8px 0 0; }

#header
.roottitle {
  background: url(../images/logo.png) 8px center/auto 26px no-repeat; }

/*首页*/
#panel1 {
  background: #f1f1f1; }
  #panel1
.banner
img {
    width: 100%;
    min-width: 320px;
    max-width: 640px; }
  #panel1
.notice {
    background: #fffce6;
    line-height: 32px; }
    #panel1
.notice
i {
      color: #f00; }
  #panel1
.search {
    padding: 8px;
    background: #fff;
    position: relative; }
    #panel1
.search:before {
      content: '';
      width: 200%;
      height: 200%;
      border-bottom: 1px solid #ddd;
      -webkit-transform: scale3d(0.5, 0.5, 1);
      transform: scale3d(0.5, 0.5, 1);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      z-index: 0; }
    #panel1
.search > * {
      position: relative;
      z-index: 1; }
    #panel1
.search
.txt_search {
      width: 82%; }
    #panel1
.search
.btn_search {
      display: inline-block;
      line-height: 32px;
      padding: 0 8px;
      background: #4892e6;
      color: #fff;
      border-radius: 2px;
      margin-left: 4px; }
